* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
h1 {
  color: #000;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-right: 20px;
}
.chart {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding: 50px 1306px 901px 0px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
.yellow1 {
  display: flex;
  width: 195px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #ffcc2f;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-bottom: 10px;
}
.blue1 {
  display: flex;
  width: 105px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #37d3d2;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
h1 .yellow1 .blue1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.yellow2 {
  display: flex;
  width: 153px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #ffcc2f;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: normal;
}
.blue2 {
  display: flex;
  width: 147px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #37d3d2;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;

  border-radius: 0px 10px 10px 0px;
}
h1 .yellow2 .blue2 {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.yellow3 {
  display: flex;
  width: 123px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #ffcc2f;
}
.blue3 {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 177px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #37d3d2;
}

.legend1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 16px;
  height: 16px;
}
h2 {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.legend1 .legend2 {
  display: flex;
  width: 422px;
  padding: 20px 0px 20px 120px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.legend2 {
  width: 16px;
  height: 16px;
}
.legend {
  display: flex;
  width: 422px;
  padding: 20px 0px 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.all {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding: 50px 1306px 901px 0px;
  flex-direction: column;
  align-items: flex-start;
}
